README.md
Dockerfile*
yarn.lock
env*

*.css
*.d.ts
*.html
*.ico
*.lock
*.log
*.pkg
*.jpg
*.jpeg
*.png
*.sh
*.svg
*.ttf
*.txt
*.yaml
*.yml
*ignore
*woff2
*.xml

.dockerignore
.editorconfig
.env*
.gitattributes
.gitignore
.nvmrc
.prettierignore
.husky/
.yarn/

build/
dist/
generated/
node_modules/
scripts/
apps/client/.next/
apps/server/public/

.DS_Store
